p {
  color: blue;
  text-decoration: underline;
  text-align: center !important;
}

.divider {
  width: 100%;
  /* Ancho completo */
  height: 1px;
  /* Altura de la línea */
  background-color: #ccc;
  /* Color de la línea */
  margin: 5px 0;
  /* Espaciado superior e inferior opcional */
}
h2{
font-size: 1.2rem;
font-weight: bold;
color: #000000;
margin-left: 6.4em;
}
.LGA{
padding: 10px;

}

back{
align-items: center;
}