<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterDocuments($event)" placeholder="Buscar por nombre o especialidad"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let doc of documents" (click)="goToDetail(doc)">
      <ion-card-header>
        <ion-card-title>{{ doc.Name }}</ion-card-title> <!-- Reemplaza 'name' con el campo que desees mostrar -->
      </ion-card-header>
      <ion-card-content>
        <p>{{ doc.Direccion }}</p> <!-- Reemplaza 'description' con el campo que desees mostrar -->
        <p>{{ doc.Telefono }}</p>
        <p>Especialidades:</p>
        <ul>
          <li *ngFor="let especialidad of doc['Especialidades']">
            {{ especialidad }}
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
