<ion-item class="custom-input" lines="none">
  <ion-icon color="blue" *ngIf="icon" slot="start" [name]="icon"></ion-icon>
  
  <ion-input 
  [type]="type"
  [autocomplete]="autocomplete"
  [label]="label"
  [formControl]="control"
  labelPlacement="floating"
  ></ion-input>

  <ion-button *ngIf="isPassword" (click)="ShorOrHidePassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline' "></ion-icon>
  </ion-button>

</ion-item>