<ion-header>
  <ion-toolbar>
    <ion-title>{{ doctor.Name }}</ion-title> <!-- Título del doctor -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ doctor.Name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Dirección: {{ doctor.Direccion }}</p>
      <p>Teléfono: {{ doctor.Telefono }}</p>
      <p>Especialidades:</p>
      <ul>
        <li *ngFor="let especialidad of doctor['Especialidades']">
          {{ especialidad }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
