*{
    padding-left: 5%;
    padding-right: 3%;
}

ion-content {
    --ion-background-color: #ffffff; /* Color de fondo */
   
  }
  
  .imgDoc {
    width: 100%; /* Ajustar imagen al ancho del contenedor */
    max-width: 300px; /* Limitar el tamaño máximo de la imagen */
    display: block; /* Alinear la imagen al centro */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
  }
  
  h1, h2 {
    color: #3880ff; /* Color de título */
    text-align: center;
  }
  
  .l1 {
    list-style:disc; /* Quitar viñetas de la lista */
     /* Eliminar el relleno izquierdo de la lista */
     font-size: large;
  }
  .l2{
    list-style:georgian;
  }
  
  ul li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
  }
  
  p, a {
    color: #555; /* Color del texto */
    font-size: large;
  }
  
  a {
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: #3880ff; /* Color del enlace */
  }
  
  a:hover {
    text-decoration: underline; /* Subrayar enlace al pasar el cursor */
    font-weight: 400;
    color: purple; 
  }
  
  ion-button {
    margin-top: 20px; /* Espacio superior entre el botón y el contenido */
  }
  
  .alent{
    color: black;
    font-weight: 700;
  }
  
  /* Estilos para hacer el contenido responsivo */
  @media (max-width: 768px) {
    .imgDoc {
      max-width: 200px; /* Reducir el tamaño máximo de la imagen en dispositivos pequeños */
    }
  }
  