<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Únete a Nuestro Equipo Médico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <img src="../../assets/LogoSC.png" alt="logo" class="imgDoc">
  </section>
  <h1>¿Cómo ser parte de nuestro equipo?</h1>
  <p>
    Si eres un profesional de la salud interesado en unirte a nuestro equipo, ¡nos encantaría conocerte!
  </p>
  <h2>Requisitos:</h2>
  <ul>
    <li>Ser médico titulado.</li>
    <li>Contar con especialidades reconocidas.</li>
    <li>Tener horarios disponibles para agenda de citas</li>
  </ul>
  <h2>Para enviar tu solicitud, incluye los siguientes datos en tu correo electrónico:</h2>
  <ul class="l1">
    <li>Nombre completo.</li>
    <li>Especialidades que manejas.</li>
    <li>Dirección - Incluye:</li>
    <ul class="l2">
      <li>Calle o Avenida</li>
      <li>Numero exterior</li>
      <li>Numero interior - si aplica</li>
      <li>Codigo Postal</li>
      
    </ul>
    <li>Foto (opcional).</li>
    <li>Documento que avale tu titulación (imagen o PDF).</li>
  </ul>
  <p class="alent">
    Envía tu solicitud a través de<a id="direccion" href="mailto:equipo&#64;tudominio.com">equipo&#64;tudominio.com</a>.
    ¡Esperamos saber de ti pronto!
  </p>

  <ion-button routerLink="/welcome" expand="block">Volver</ion-button>
</ion-content>
