<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Regresar</ion-button>
    </ion-buttons>
    <ion-title>Detalles del Doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="doctor.Foto" alt="Foto del doctor" class="doctor-img"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ doctor.Name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Especialidades:</strong> {{ doctor.Especialidades.join(', ') }}</p>
      <p><strong>Dirección:</strong> {{ doctor.Direccion }}</p>
      <p><strong>Teléfono:</strong> {{ doctor.Telefono }}</p>
    </ion-card-content>
  </ion-card>

  <div class="button-container">
    <ion-button expand="block" color="primary" size="large" (click)="scheduleAppointment()" class="fancy-button">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <span>Agendar Cita</span>
    </ion-button>
  </div>
</ion-content>